
    body {
      margin: 0;
      padding: 0;
      min-height: 100vh;
      background-color: #A2D729; 
      font-family: sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      text-align: center;
    }
    @font-face {
        font-family: 'ShrekAlt';
        src: url('ShrekAlt.woff') format('woff'),
             url('ShrekAlt.ttf') format('truetype');
      }
      

    h1 {
     max-width: 100%;
      height: auto;
      color: white;
     font-size: clamp(1.5rem, 5vw, 3rem);
     font-family: 'ShrekAlt', serif;
    }

    video {
      width: 90%;
      max-width: 720px;
      height: auto;
      margin-bottom: 40px;
      border: 4px solid #ffffff;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }


